@inherits UmbracoViewPage<BourneCars.Models.SearchFormModel>
<div class="row">
<div class="col-md-12">
    <div class="search-tab clearfix">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs search-tab-nav" role="tablist">
            <li role="presentation" class="active"><a href="#tab01" role="tab" data-toggle="tab"><b>Search for cars</b></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab01">
                <div class="search-wrapper">
                    @{
                        using (Html.BeginUmbracoForm("SubmitForm", "Search"))
                        {
                             @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(m => m.CarManufactureType, Model.CarManufactureTypes, new {id = "carManufactures", @class = "selectpicker"})
                                </div><!-- end col -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <select id="models" class="selectpicker" name="CarModel">
                                        <option>All Models</option>
                                    </select>
                                </div><!-- end col -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <select id="MinPrice" name="MinPrice" class="selectpicker">
                                        <option selected="selected" value="0">£0</option>
                                        <option value="4000">£4000</option>
                                        <option value="8000">£8000</option>
                                        <option value="10000">£10000</option>
                                        <option value="12000">£12000</option>
                                        <option value="14000">£14000</option>
                                        <option value="16000">£16000</option>
                                        <option value="18000">£18000</option>
                                        <option value="20000">£20000</option>
                                    </select>
                                    @*@Html.DropDownListFor(m => m.MinPrice, Model.MinPrices, new { id = "minPrice", @class = "selectpicker" })*@
                                </div><!-- end col -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <select id="MaxPrice" name="MaxPrice" class="selectpicker">
                                        <option value="4000">£4000</option>
                                        <option value="8000">£8000</option>
                                        <option value="12000">£12000</option>
                                        <option value="14000">£14000</option>
                                        <option value="16000">£16000</option>
                                        <option value="18000">£18000</option>
                                        <option selected="selected" value="2000000000">£20000+</option>
                                    </select>
                                    @*@Html.DropDownListFor(m => m.MaxPrice, Model.MaxPrices, new { id = "maxPrice", @class = "selectpicker" })*@
                                </div><!-- end col -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <button class="btn btn-primary btn-block">SEARCH</button>
                                </div><!-- end col -->
                            </div><!-- end row -->
                           
                        }
                    }
                </div><!-- end search-wrapper -->
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
    </div><!-- end tab -->
</div><!-- end col -->
</div><!-- end row -->
<script>
    @*var formData = @Html.Raw(Model.JsonObject);*@
</script>
<hr class="invis">

