@using BourneCars.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterTemplate.cshtml";
}
<div class="section">
    <div class="container">
        <div class="row">
        @Html.Action("RenderMainSearchForm", "Search")
            @*@{Html.RenderAction("RenderMainSearchForm", "Search");}*@
            @{Html.RenderAction("RenderSearchListing", "Search");}
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

@section ScriptForSearchForm
{
    <script>
        $(document).ready(function() {
            $('#carManufactures').change(function() {
                var make = $('#carManufactures').val();
                var modelDropDown = $('#models');
                if (make !== "Please Select") {
                    $('#models').empty();
                    $.ajax({
                        url: '/Umbraco/Api/FormData/GetAllProducts/' + make,
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function(data) {
                            var json = JSON.parse(data); //Parse json
                            var models = json[0].model; //Get models
                            modelDropDown.append($("<option />").val('Please Select').text('Please Select'));
                            $.each(models,
                                function(key, value) {
                                    modelDropDown.append($("<option />").val(value).text(value));
                                }); //iterate throught models
                            $('#models').selectpicker('refresh');
                        }
                    });
                } else if(make.change) {
                    modelDropDown.append($("<option />").val('Please Select').text('Please Select'));
                }
            });
        }); 

        $('#MaxPrice').change(function () {
            priceValidation();
        });

        $('#MinPrice').change(function () {
            priceValidation();
        });

        function priceValidation()
        {
            var maxPrice = $('#MaxPrice option:selected').val();
            var minPrice = $('#MinPrice option:selected').val();
            console.log('MaxPrice ' + maxPrice);
            console.log('MinPrice ' + minPrice);
            if (maxPrice <= minPrice) {
                console.log('maxPrice < minPrice');
                $('#priceValidation').removeClass('hidden');
                $('#priceValidation').addClass('validation-summary-errors');
            } else {
                console.log('maxPrice < minPrice');
                $('#priceValidation').removeClass('validation-summary-errors');
                $('#priceValidation').addClass('hidden');
                $('btn btn-primary btn-block').prop('disabled', true)
            }
        }
    </script>

}