@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterTemplate.cshtml";
}

<!-- ******************************************
       PAGE WRAPPER
       ********************************************** -->
<div class="section">
    <div class="container">
        <div class="row">
            
            @{Html.RenderAction("RenderServicesDescription", "Services");}

            @{
                if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
                {
                    <p>Your message was sent successfully</p>
                }
                else
                {
                    Html.RenderAction("RenderServicesRequestForm", "Services");
                }
            }

        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->


