@inherits UmbracoViewPage<BourneCars.Models.SearchFormModel>
    @if (TempData["searchFormModel"] != null)
    {
        BourneCars.Models.SearchFormModel model = (BourneCars.Models.SearchFormModel)TempData["searchFormModel"];
        Model.CarManufactureType = model.CarManufactureType;
        Model.CarModel = model.CarModel;
        Model.MaxPrice = model.MaxPrice;
        Model.MinPrice = model.MinPrice;
    }
<div class="custom-sidebar col-md-3 col-sm-12">
    <div class="widget clearfix">
        <div class="search-tab light-tab clearfix">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active" id="tab01">
                    <div class="search-wrapper">
                    @{
                        using (Html.BeginUmbracoForm("SubmitForm", "search", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-input">
                                        <label>Make:</label>
                                        @Html.DropDownListFor(m => m.CarManufactureType, Model.CarManufactureTypes, new { id = "carManufactures", @class = "selectpicker"})
                                    </div><!-- end form-input -->

                                    <div class="form-input">
                                        <label>Models:</label>
                                       <select id="models" name="CarModel" class="selectpicker">
                                           <option>All Models</option>
                                        </select>
                                    </div><!-- end form-input -->
                                </div><!-- end col -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-input">
                                        <label>Min Price:</label>
                                        @Html.DropDownListFor(m => m.MinPrice, Model.MinPrices, new { id = "minPrice", @class = "selectpicker" })
                                    </div><!-- end form-input -->
                                    <div class="form-input">
                                        <label>Max Price:</label>
                                        <span id="priceValidation" class="hidden">The max price should be bigger then the min price </span>
                                         @Html.DropDownListFor(m => m.MaxPrice, Model.MaxPrices, new { id = "maxPrice", @class = "selectpicker" })
                                    </div><!-- end form-input -->
                                </div><!-- end col -->
                                <div class="col-md-12 col-xs-12">
                                    <button type="submit" id="submit" class="btn btn-primary btn-block">FIND A CAR</button>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        }
                    }
                    </div><!-- end search-wrapper -->
                </div><!-- end tab-pane -->
            </div><!-- end tab content -->
        </div>
    </div><!-- end widget -->
</div><!-- end col -->