@inherits UmbracoViewPage<BourneCars.Models.SearchFormModel>
<div class="custom-sidebar col-md-3 col-sm-12">
    <div class="widget clearfix">
        <div class="search-tab light-tab clearfix">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active" id="tab01">
                    <div class="search-wrapper">
                    @{
                        using (Html.BeginUmbracoForm("SubmitForm", "search", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-input">
                                        <label>Make:</label>
                                        @Html.DropDownListFor(m => m.CarManufactureType, Model.CarManufactureTypes, new { id = "carManufactures", @class = "selectpicker"})
                                    </div><!-- end form-input -->

                                    <div class="form-input">
                                        <label>Models:</label>
                                       <select id="models" name="CarModel" class="selectpicker">
                                           <option>All Models</option>
                                        </select>
                                    </div><!-- end form-input -->
                                </div><!-- end col -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-input">
                                        <label>Min Price:</label>
                                        <select id="MinPrice" name="MinPrice" class="selectpicker">
                                            <option selected="selected" value="0">£0</option>
                                            <option value="4000">£4000</option>
                                            <option value="8000">£8000</option>
                                            <option value="10000">£10000</option>
                                            <option value="12000">£12000</option>
                                            <option value="14000">£14000</option>
                                            <option value="16000">£16000</option>
                                            <option value="18000">£18000</option>
                                            <option value="20000">£20000</option>
                                        </select>
                                        @*@Html.DropDownListFor(m => m.MinPrice, Model.MinPrices, new { id = "minPrice", @class = "selectpicker" })*@
                                    </div><!-- end form-input -->
                                    <div class="form-input">
                                        <label>Max Price:</label>
                                        <select id="MaxPrice" name="MaxPrice" class="selectpicker">
                                            <option value="4000">£4000</option>
                                            <option value="8000">£8000</option>
                                            <option value="12000">£12000</option>
                                            <option value="14000">£14000</option>
                                            <option value="16000">£16000</option>
                                            <option value="18000">£18000</option>
                                            <option selected="selected" value="2000000000">£20000 and up</option>
                                        </select>
                                         @*@Html.DropDownListFor(m => m.MaxPrice, Model.MaxPrices, new { id = "maxPrice", @class = "selectpicker" })*@
                                    </div><!-- end form-input -->
                                </div><!-- end col -->
                                <div class="col-md-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-block">FIND A CAR</button>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        }
                    }
                    </div><!-- end search-wrapper -->
                </div><!-- end tab-pane -->
            </div><!-- end tab content -->
        </div>
    </div><!-- end widget -->
</div><!-- end col -->

