<div class="col-md-9 col-sm-12">
    <div class="car-list-wrapper clearfix">
        <div class="car-list clearfix row">
            <div class="col-md-4">
                <div class="post-media entry">
                    <a href="#"><img src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-5-series-1_1.jpg?itok=KxuBwY5Y" alt="" class="img-responsive"></a>
                </div><!-- end post-media -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="car-top clearfix">
                    <div class="pull-left">
                        <h3><a href="#">BMW F12 6 Series Midsized</a></h3>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
                <div class="car-details clearfix">
                    <div class="car-price"><p>$78900</p></div>
                </div><!-- end details -->
                <div class="car-details clearfix">
                    <ul class="list-inline">
                        <li><i class="fa fa-road"></i> Mileage&nbsp; <small>850000</small></li>
                        <li><i class="fa fa-car"></i> Fuel Type <small>Petrol</small></li>
                        <li><i class="fa fa-clock-o"></i> Reg.Year <small>2013</small></li>
                        <li><i class="fa fa-gears"></i> Transmission <small>Automatic</small></li>
                    </ul>
                </div><!-- end car-details -->
                <div class="car-bottom clearfix">
                    <div class="pull-left">
                        <a href="#" class="stock">MORE INFO</a>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
            </div><!-- end col -->
        </div><!-- end car-list -->
        <div class="car-list clearfix row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="#"><img src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-m2-road-test-0273.jpg?itok=GodP4h1Z" alt="" class="img-responsive"></a>
                </div><!-- end post-media -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="car-top clearfix">
                    <div class="pull-left">
                        <h3><a href="#">Audi A8 3.0 TDI S12 Quattro</a></h3>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
                <div class="car-details clearfix">
                    <div class="car-price"><p>$74000</p></div>
                </div><!-- end details -->
                <div class="car-details clearfix">
                    <ul class="list-inline">
                        <li><i class="fa fa-road"></i> Mileage&nbsp; <small>850000</small></li>
                        <li><i class="fa fa-car"></i> Fuel Type <small>Petrol</small></li>
                        <li><i class="fa fa-clock-o"></i> Reg.Year <small>2013</small></li>
                        <li><i class="fa fa-gears"></i> Transmission <small>Automatic</small></li>
                    </ul>
                </div><!-- end car-details -->
                <div class="car-bottom clearfix">
                    <div class="pull-left">
                        <a href="#" class="stock">MORE INFO</a>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
            </div><!-- end col -->
        </div><!-- end car-list -->
        <div class="car-list clearfix row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="#"><img src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-7er-rt-2015-0029.jpg?itok=dxV2fMhf" alt="" class="img-responsive"></a>
                </div><!-- end post-media -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="car-top clearfix">
                    <div class="pull-left">
                        <h3><a href="#">Hyundai Genesis Coupe 2.0FL</a></h3>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
                <div class="car-details clearfix">
                    <div class="car-price"><p>$72900</p></div>
                </div><!-- end details -->
                <div class="car-details clearfix">
                    <ul class="list-inline">
                        <li><i class="fa fa-road"></i> Mileage&nbsp; <small>850000</small></li>
                        <li><i class="fa fa-car"></i> Fuel Type <small>Petrol</small></li>
                        <li><i class="fa fa-clock-o"></i> Reg.Year <small>2013</small></li>
                        <li><i class="fa fa-gears"></i> Transmission <small>Automatic</small></li>
                    </ul>
                </div><!-- end car-details -->
                <div class="car-bottom clearfix">
                    <div class="pull-left">
                        <a href="#" class="stock">MORE INFO</a>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
            </div><!-- end col -->
        </div><!-- end car-list -->
        <div class="car-list clearfix row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="#"><img src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-x1-rt-2015-ac-0001.jpg?itok=V8A10FSh" alt="" class="img-responsive"></a>
                </div><!-- end post-media -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="car-top clearfix">
                    <div class="pull-left">
                        <h3><a href="#">Ford Mustang 2.3 Ecoboost</a></h3>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
                <div class="car-details clearfix">
                    <div class="car-price"><p>$72900</p></div>
                </div><!-- end details -->
                <div class="car-details clearfix">
                    <ul class="list-inline">
                        <li><i class="fa fa-road"></i> Mileage&nbsp; <small>850000</small></li>
                        <li><i class="fa fa-car"></i> Fuel Type <small>Petrol</small></li>
                        <li><i class="fa fa-clock-o"></i> Reg.Year <small>2013</small></li>
                        <li><i class="fa fa-gears"></i> Transmission <small>Automatic</small></li>
                    </ul>
                </div><!-- end car-details -->
                <div class="car-bottom clearfix">
                    <div class="pull-left">
                        <a href="#" class="stock">MORE INFO</a>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
            </div><!-- end col -->
        </div><!-- end car-list -->
        <div class="car-list clearfix row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="#"><img src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-m6-comp-1-001.jpg?itok=4TKsSBna" alt="" class="img-responsive"></a>
                </div><!-- end post-media -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="car-top clearfix">
                    <div class="pull-left">
                        <h3><a href="#">Range Rover Evelouqe 2015</a></h3>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
                <div class="car-details clearfix">
                    <div class="car-price"><p>$72900</p></div>
                </div><!-- end details -->
                <div class="car-details clearfix">
                    <ul class="list-inline">
                        <li><i class="fa fa-road"></i> Mileage&nbsp; <small>850000</small></li>
                        <li><i class="fa fa-car"></i> Fuel Type <small>Petrol</small></li>
                        <li><i class="fa fa-clock-o"></i> Reg.Year <small>2013</small></li>
                        <li><i class="fa fa-gears"></i> Transmission <small>Automatic</small></li>
                    </ul>
                </div><!-- end car-details -->
                <div class="car-bottom clearfix">
                    <div class="pull-left">
                        <a href="#" class="stock">MORE INFO</a>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
            </div><!-- end col -->
        </div><!-- end car-list -->
        <div class="car-list clearfix row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="#"><img src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-m6-cab-2015-018.jpg?itok=g4sq9-KI" alt="" class="img-responsive"></a>
                </div><!-- end post-media -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="car-top clearfix">
                    <div class="pull-left">
                        <h3><a href="#">Audi A4 1.8 TFSI S-Line Upon</a></h3>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
                <div class="car-details clearfix">
                    <div class="car-price"><p>$72900</p></div>
                </div><!-- end details -->
                <div class="car-details clearfix">
                    <ul class="list-inline">
                        <li><i class="fa fa-road"></i> Mileage&nbsp; <small>850000</small></li>
                        <li><i class="fa fa-car"></i> Fuel Type <small>Petrol</small></li>
                        <li><i class="fa fa-clock-o"></i> Reg.Year <small>2013</small></li>
                        <li><i class="fa fa-gears"></i> Transmission <small>Automatic</small></li>
                    </ul>
                </div><!-- end car-details -->
                <div class="car-bottom clearfix">
                    <div class="pull-left">
                        <a href="#" class="stock">MORE INFO</a>
                    </div><!-- end pull-left -->
                </div><!-- end car-top -->
            </div><!-- end col -->
        </div><!-- end car-list -->
    </div><!-- end car-list-wrapper -->
</div><!-- end col -->
