<!-- ******************************************
        START HEADER
********************************************** -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="logo-wrapper clearfix">
                    <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="" class="img-responsive"></a>
                </div><!-- end logo -->
            </div><!-- end col -->
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="header-contact clearfix">
                    <p><i class="flaticon-pin alignleft"></i> 21 st Marrys Road,<br>Bournemouth, BH14QP</p>
                </div>
                <div class="header-contact clearfix">
                    <p><i class="flaticon-icon-818 alignleft"></i> Mon - Sat 9.00 - 20.00,<br>Sunday CLOSED</p>
                </div><!-- end header-contact -->
                <div class="header-contact clearfix">
                    <p><i class="flaticon-technology alignleft"></i> +1 888 122 9000<br>Call us for enquiry</p>
                </div><!-- end header-contact -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end header -->