<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT make ANY>
<!ATTLIST make id ID #REQUIRED>
<!ELEMENT configuration ANY>
<!ATTLIST configuration id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT contactInfo ANY>
<!ATTLIST contactInfo id ID #REQUIRED>
<!ELEMENT aboutUsProperties ANY>
<!ATTLIST aboutUsProperties id ID #REQUIRED>
<!ELEMENT teamMemberProperties ANY>
<!ATTLIST teamMemberProperties id ID #REQUIRED>
<!ELEMENT servicesProperties ANY>
<!ATTLIST servicesProperties id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT carDetails ANY>
<!ATTLIST carDetails id ID #REQUIRED>
<!ELEMENT carFeatures ANY>
<!ATTLIST carFeatures id ID #REQUIRED>
]>
<root id="-1">
  <home id="1086" key="37a036b3-232b-4cec-b8aa-ee5013d3b109" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-13T22:32:43" updateDate="2017-08-08T18:22:16" nodeName="Home" urlName="home" path="-1,1086" isDoc="" nodeType="1084" creatorName="admin" writerName="steve" writerID="3" template="1085" nodeTypeAlias="home">
    <addressLine1><![CDATA[21 st Marrys Road 12]]></addressLine1>
    <postcode><![CDATA[BH14QP2]]></postcode>
    <textForPhoneNumber><![CDATA[Please call for inquire]]></textForPhoneNumber>
    <phoneNumber><![CDATA[01202424226]]></phoneNumber>
    <addressLine2><![CDATA[Bournemouth]]></addressLine2>
    <openingTimes><![CDATA[Mon - Sat: 9:00 - 18:00]]></openingTimes>
    <closingTime><![CDATA[Sunday - CLOSED]]></closingTime>
    <latitude><![CDATA[50.732761]]></latitude>
    <longitude><![CDATA[-1.848315]]></longitude>
    <email><![CDATA[support@bournecars.com]]></email>
    <facebookPage><![CDATA[https://www.facebook.com]]></facebookPage>
    <imagePicker><![CDATA[2135,2136,2136]]></imagePicker>
    <search id="3135" key="f30191ce-2b84-4acf-b16f-db663e221cd2" parentID="1086" level="2" creatorID="0" sortOrder="0" createDate="2017-07-26T14:35:38" updateDate="2017-08-08T19:45:35" nodeName="Search" urlName="search" path="-1,1086,3135" isDoc="" nodeType="3134" creatorName="admin" writerName="admin" writerID="0" template="3133" nodeTypeAlias="search">
      <carDetails id="3138" key="5990bcab-29cc-4d86-ad20-71ee40b399f2" parentID="3135" level="3" creatorID="0" sortOrder="0" createDate="2017-07-26T15:30:54" updateDate="2017-08-09T23:10:15" nodeName="Test Car" urlName="test-car" path="-1,1086,3135,3138" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <featured>1</featured>
        <milage>49568</milage>
        <titleOfthePage><![CDATA[BMW F12 6 Series Midsized 1]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
        <price>7897</price>
        <companyMake><![CDATA[Audi]]></companyMake>
      </carDetails>
      <carDetails id="5133" key="49a7d5a7-ce43-4b4e-8749-95e1e42428c6" parentID="3135" level="3" creatorID="0" sortOrder="1" createDate="2017-08-06T15:25:56" updateDate="2017-08-08T22:09:36" nodeName="Test Car (1)" urlName="test-car-1" path="-1,1086,3135,5133" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>7897</price>
        <featured>0</featured>
        <milage>49568</milage>
        <companyMake><![CDATA[Audi]]></companyMake>
        <titleOfthePage><![CDATA[BMW F12 6 Series Midsized 2]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <warranty><![CDATA[12 months]]></warranty>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Sensor Airbags (Approved),Child Seat Anchors,Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
      </carDetails>
      <carDetails id="5134" key="c2b76d32-a949-48f0-9a52-01749d3415af" parentID="3135" level="3" creatorID="0" sortOrder="2" createDate="2017-08-06T15:26:16" updateDate="2017-08-08T22:13:51" nodeName="Test Car (2)" urlName="test-car-2" path="-1,1086,3135,5134" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>7897</price>
        <featured>1</featured>
        <milage>49568</milage>
        <companyMake><![CDATA[BMW]]></companyMake>
        <titleOfthePage><![CDATA[BMW F12 6 Series Midsized 3]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <warranty><![CDATA[12 months]]></warranty>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Sensor Airbags (Approved),Child Seat Anchors,Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
      </carDetails>
      <carDetails id="5135" key="a1407a42-5bdc-411c-bc6e-b676e89fbbd6" parentID="3135" level="3" creatorID="0" sortOrder="3" createDate="2017-08-06T15:26:31" updateDate="2017-08-08T22:10:18" nodeName="Test Car (3)" urlName="test-car-3" path="-1,1086,3135,5135" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>7897</price>
        <featured>0</featured>
        <milage>49568</milage>
        <companyMake><![CDATA[Mercedes]]></companyMake>
        <titleOfthePage><![CDATA[BMW F12 6 Series Midsized 4]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <warranty><![CDATA[12 months]]></warranty>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Sensor Airbags (Approved),Child Seat Anchors,Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
      </carDetails>
      <carDetails id="5136" key="8270f405-5894-4e29-9fef-29b319df3a51" parentID="3135" level="3" creatorID="0" sortOrder="4" createDate="2017-08-06T15:26:42" updateDate="2017-08-08T22:14:00" nodeName="Test Car (4)" urlName="test-car-4" path="-1,1086,3135,5136" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>7897</price>
        <featured>1</featured>
        <milage>49568</milage>
        <companyMake><![CDATA[Toyota]]></companyMake>
        <titleOfthePage><![CDATA[BMW F12 6 Series Midsized 5]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <warranty><![CDATA[12 months]]></warranty>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Sensor Airbags (Approved),Child Seat Anchors,Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
      </carDetails>
      <carDetails id="5137" key="ef8bdfd7-50f3-44b9-b059-dda86e7eb4b3" parentID="3135" level="3" creatorID="0" sortOrder="5" createDate="2017-08-06T15:26:53" updateDate="2017-08-08T22:11:35" nodeName="Test Car 5" urlName="test-car-5" path="-1,1086,3135,5137" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>7897</price>
        <featured>1</featured>
        <milage>49568</milage>
        <companyMake><![CDATA[Audi]]></companyMake>
        <titleOfthePage><![CDATA[BMW F12 6 Series Midsized 6]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <warranty><![CDATA[12 months]]></warranty>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Sensor Airbags (Approved),Child Seat Anchors,Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
      </carDetails>
      <carDetails id="6135" key="b41adf22-9d46-490a-97fb-b92b27ac468f" parentID="3135" level="3" creatorID="0" sortOrder="6" createDate="2017-08-08T16:59:51" updateDate="2017-08-08T22:11:44" nodeName="New Car" urlName="new-car" path="-1,1086,3135,6135" isDoc="" nodeType="3136" creatorName="admin" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, content heremaking it look like readable Englishbut the majority haveor randomised words which don't look even slightly believable.

Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content herehave suffered alteration.]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>7897</price>
        <featured>1</featured>
        <milage>49568</milage>
        <companyMake><![CDATA[Bently]]></companyMake>
        <titleOfthePage><![CDATA[New Car]]></titleOfthePage>
        <serviceHistory><![CDATA[Full service history]]></serviceHistory>
        <registrationYear>2014-06-05T00:00:00</registrationYear>
        <fuel><![CDATA[Petrol]]></fuel>
        <transmission><![CDATA[Automatic]]></transmission>
        <mot>2017-09-28T00:00:00</mot>
        <bodyType><![CDATA[66]]></bodyType>
        <lastServiced><![CDATA[47453]]></lastServiced>
        <warranty><![CDATA[12 months]]></warranty>
        <luggageCapacity>351</luggageCapacity>
        <vehicleTaxBand><![CDATA[151-171]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>120</topSpeed>
        <cO2Emission>161</cO2Emission>
        <fuelTankCapacity>55</fuelTankCapacity>
        <enginSize>15599</enginSize>
        <width>1759</width>
        <fuelConsumptionCombined>43</fuelConsumptionCombined>
        <tyreSize><![CDATA[218/53 R15 ]]></tyreSize>
        <numberOfSeats>6</numberOfSeats>
        <length>4204</length>
        <numberOfValves>17</numberOfValves>
        <fuelConsumptionUrban>33</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>51</fuelConsumptionExtraUrban>
        <enginPower>114</enginPower>
        <height>1479</height>
        <extraFeatures><![CDATA[Air conditioning,climate semi- Automatic control,heat insulated inted glass,Radio CD player,Electric windows,Front  Sensor Airbags (Approved)  Child Seat Anchors  Anti Theft System (Alaram),Advanced Bluetooth,CD & DVD Players,Electric Side Mirror,Navigation System,Rear Traffic Alert]]></extraFeatures>
      </carDetails>
      <carDetails id="6138" key="75144bab-e411-490f-a07c-ec5d53146a8c" parentID="3135" level="3" creatorID="3" sortOrder="8" createDate="2017-08-08T19:23:00" updateDate="2017-08-08T22:12:15" nodeName="Test car from pisti (1)" urlName="test-car-from-pisti-1" path="-1,1086,3135,6138" isDoc="" nodeType="3136" creatorName="steve" writerName="admin" writerID="0" template="3137" nodeTypeAlias="carDetails">
        <vehicleDescription><![CDATA[asfdasdfasd]]></vehicleDescription>
        <podImage><![CDATA[umb://media/7366c76937004ba4825250476bd78011]]></podImage>
        <price>123123123</price>
        <featured>1</featured>
        <milage>12345</milage>
        <companyMake><![CDATA[Audi]]></companyMake>
        <titleOfthePage><![CDATA[A4]]></titleOfthePage>
        <serviceHistory><![CDATA[little text]]></serviceHistory>
        <registrationYear>2017-01-13T00:00:00</registrationYear>
        <fuel><![CDATA[Diesel]]></fuel>
        <transmission><![CDATA[Manual]]></transmission>
        <mot>2017-08-04T00:00:00</mot>
        <bodyType><![CDATA[body type]]></bodyType>
        <lastServiced><![CDATA[464664]]></lastServiced>
        <warranty><![CDATA[11 months]]></warranty>
        <luggageCapacity>400</luggageCapacity>
        <vehicleTaxBand><![CDATA[b]]></vehicleTaxBand>
        <zeroToSixty>12</zeroToSixty>
        <topSpeed>123</topSpeed>
        <cO2Emission>123</cO2Emission>
        <fuelTankCapacity>12</fuelTankCapacity>
        <enginSize>1324</enginSize>
        <width>132</width>
        <fuelConsumptionCombined>34</fuelConsumptionCombined>
        <tyreSize><![CDATA[151-171]]></tyreSize>
        <numberOfSeats>4</numberOfSeats>
        <length>123</length>
        <numberOfValves>2323123</numberOfValves>
        <fuelConsumptionUrban>34</fuelConsumptionUrban>
        <fuelConsumptionExtraUrban>34</fuelConsumptionExtraUrban>
        <enginPower>12312</enginPower>
        <height>123</height>
        <extraFeatures><![CDATA[test]]></extraFeatures>
      </carDetails>
    </search>
    <service id="1101" key="e557675c-61dc-4a64-a26f-cfee74efc929" parentID="1086" level="2" creatorID="0" sortOrder="1" createDate="2017-06-26T23:28:25" updateDate="2017-08-08T19:46:42" nodeName="Service" urlName="service" path="-1,1086,1101" isDoc="" nodeType="1098" creatorName="admin" writerName="admin" writerID="0" template="1096" nodeTypeAlias="service">
      <mainContent><![CDATA[<p><strong>A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban; mikor egy ismeretlen nyomdász összeállította a betûkészletét és egy példa-könyvet vagy szöveget nyomott</strong> papírra, ezt használta. Nem csak 5 évszázadot élt túl, de az elektronikus betûkészleteknél is változatlanul megmaradt. Az 1960-as években népszerûsítették a Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal, és legutóbb softwarekkel mint például az Aldus Pagemaker.A L</p>
<ul>
<li><span> Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal</span></li>
<li><span> Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal</span></li>
<li><span> Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal</span></li>
<li><span> Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal</span></li>
</ul>
<p> </p>
<p>orem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban; mikor egy ismeretlen nyomdász összeállította a betûkészletét és egy példa-könyvet vagy szöveget nyomott papírra, ezt használta. Nem csak 5 évszázadot élt túl, de az elektronikus betûkészleteknél is változatlanul megmaradt. Az 1960-as években népszerûsítették a Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal, és legutóbb softwarekkel mint például az</p>
<ol>
<li><span>Ipsum használta</span></li>
<li><span>Ipsum évszázadot </span></li>
<li><span>Ipsum elektronikus </span></li>
</ol>
<p>Aldus Pagemaker.</p>]]></mainContent>
      <servicesTitle><![CDATA[The service that we offer]]></servicesTitle>
    </service>
    <contactUs id="1093" key="f2b1f729-3089-4bd5-981b-04b16799ed44" parentID="1086" level="2" creatorID="0" sortOrder="2" createDate="2017-06-15T21:22:40" updateDate="2017-08-08T19:46:42" nodeName="Contact us" urlName="contact-us" path="-1,1086,1093" isDoc="" nodeType="1092" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="contactUs" />
    <aboutUs id="1090" key="d4ead072-7b92-4a88-aa93-f28cd7406dd1" parentID="1086" level="2" creatorID="0" sortOrder="3" createDate="2017-06-14T17:50:54" updateDate="2017-08-08T19:46:42" nodeName="About us" urlName="about-us" path="-1,1086,1090" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="aboutUs">
      <signature><![CDATA[William Shocks,]]></signature>
      <position><![CDATA[Founder]]></position>
      <pageContent><![CDATA[<p><strong>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum ac eros tristique digniss mi dictum.</strong></p>
<p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual se teachings of the great explorer of the truth, the m rejects, dislikes, avoids pleasure itself mistaken idea sed off denouncing pleasure.</p>]]></pageContent>
      <teamPhoto><![CDATA[umb://media/a627d6c7fbc14a1b95f9b1316b0192bf]]></teamPhoto>
      <companyName><![CDATA[Bourne Cars ltd.]]></companyName>
      <pageTitle><![CDATA[Welcome to Bourne Cars ltd.]]></pageTitle>
      <teamMemberProperties id="1112" key="39a404fd-2096-4552-a88d-6d2b976aa60e" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2017-07-04T22:26:12" updateDate="2017-08-08T18:28:24" nodeName="Pisti 1" urlName="pisti-1" path="-1,1086,1090,1112" isDoc="" nodeType="1111" creatorName="admin" writerName="steve" writerID="3" template="0" nodeTypeAlias="teamMemberProperties">
        <phoneNumber><![CDATA[012021234678]]></phoneNumber>
        <twitter><![CDATA[https://twitter.com/]]></twitter>
        <email><![CDATA[pisti@bournecars.com]]></email>
        <facebook><![CDATA[https://www.facebook.com/]]></facebook>
        <gmail><![CDATA[https://mail.google.com/]]></gmail>
        <personalImage><![CDATA[umb://media/1a0180b94eb04cf7aecdaa1ab7bba293]]></personalImage>
        <memberPosition><![CDATA[Founder]]></memberPosition>
        <teamMemberName><![CDATA[Pisti]]></teamMemberName>
      </teamMemberProperties>
      <teamMemberProperties id="1116" key="203db2a9-2e34-4d19-b796-65c484b25c69" parentID="1090" level="3" creatorID="0" sortOrder="1" createDate="2017-07-05T00:16:40" updateDate="2017-07-10T18:16:29" nodeName="Pisti 2" urlName="pisti-2" path="-1,1086,1090,1116" isDoc="" nodeType="1111" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="teamMemberProperties">
        <phoneNumber><![CDATA[012021234678]]></phoneNumber>
        <twitter><![CDATA[ww.twitter.com]]></twitter>
        <email><![CDATA[pisti@bournecars.com]]></email>
        <linkedIn><![CDATA[www.linkedin.com]]></linkedIn>
        <facebook><![CDATA[www.facebook.com]]></facebook>
        <gmail><![CDATA[www.gmail.com]]></gmail>
        <personalImage><![CDATA[umb://media/1a0180b94eb04cf7aecdaa1ab7bba293]]></personalImage>
        <memberPosition><![CDATA[Founder]]></memberPosition>
        <teamMemberName><![CDATA[Pisti]]></teamMemberName>
      </teamMemberProperties>
      <teamMemberProperties id="1117" key="32c39d61-154f-48ed-a6f4-dbaa38bd8630" parentID="1090" level="3" creatorID="0" sortOrder="2" createDate="2017-07-05T00:17:06" updateDate="2017-07-10T18:16:44" nodeName="Szilard" urlName="szilard" path="-1,1086,1090,1117" isDoc="" nodeType="1111" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="teamMemberProperties">
        <phoneNumber><![CDATA[012021234678]]></phoneNumber>
        <twitter><![CDATA[ww.twitter.com]]></twitter>
        <email><![CDATA[pisti@bournecars.com]]></email>
        <linkedIn><![CDATA[www.linkedin.com]]></linkedIn>
        <facebook><![CDATA[www.facebook.com]]></facebook>
        <gmail><![CDATA[www.gmail.com]]></gmail>
        <personalImage><![CDATA[umb://media/1a0180b94eb04cf7aecdaa1ab7bba293]]></personalImage>
        <memberPosition><![CDATA[Founder]]></memberPosition>
        <teamMemberName><![CDATA[Pisti]]></teamMemberName>
      </teamMemberProperties>
    </aboutUs>
    <configuration id="6145" key="052fba5d-fdab-44a7-8178-70dda73f5d09" parentID="1086" level="2" creatorID="0" sortOrder="4" createDate="2017-08-11T15:52:55" updateDate="2017-08-14T14:06:36" nodeName="Configuration" urlName="configuration" path="-1,1086,6145" isDoc="" nodeType="6144" creatorName="admin" writerName="admin" writerID="0" template="6143" nodeTypeAlias="configuration">
      <umbracoNaviHide>1</umbracoNaviHide>
      <minPrice><![CDATA[£1000,£2000,£3000,£4000,£5000,£6000,£7000]]></minPrice>
      <maxPrice><![CDATA[£1000,£2000,£3000,£4000,£5000,£6000]]></maxPrice>
      <make id="6149" key="53743edd-5897-4b53-ba11-39120a42cc66" parentID="6145" level="3" creatorID="0" sortOrder="0" createDate="2017-08-11T16:33:10" updateDate="2017-08-11T16:33:10" nodeName="Audi" urlName="audi" path="-1,1086,6145,6149" isDoc="" nodeType="6148" creatorName="admin" writerName="admin" writerID="0" template="6147" nodeTypeAlias="make">
        <model><![CDATA[A1,A4,A6,A8]]></model>
        <umbracoHideNavi>1</umbracoHideNavi>
      </make>
      <make id="6150" key="b72ae00f-568b-41d7-8287-7048cc5e29a6" parentID="6145" level="3" creatorID="0" sortOrder="1" createDate="2017-08-11T16:34:25" updateDate="2017-08-11T16:34:25" nodeName="BMW" urlName="bmw" path="-1,1086,6145,6150" isDoc="" nodeType="6148" creatorName="admin" writerName="admin" writerID="0" template="6147" nodeTypeAlias="make">
        <model><![CDATA[230,320,430]]></model>
        <umbracoHideNavi>1</umbracoHideNavi>
      </make>
      <make id="6151" key="9f69eb58-8a01-474b-bd68-801a5222b75a" parentID="6145" level="3" creatorID="0" sortOrder="2" createDate="2017-08-14T15:31:05" updateDate="2017-08-14T15:31:05" nodeName="Mercedes" urlName="mercedes" path="-1,1086,6145,6151" isDoc="" nodeType="6148" creatorName="admin" writerName="admin" writerID="0" template="6147" nodeTypeAlias="make">
        <model><![CDATA[C112,F700,R-Class,M-Class,G-Class]]></model>
        <umbracoHideNavi>1</umbracoHideNavi>
      </make>
    </configuration>
  </home>
</root>