<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT contactInfo ANY>
<!ATTLIST contactInfo id ID #REQUIRED>
]>
<root id="-1">
  <home id="1086" key="37a036b3-232b-4cec-b8aa-ee5013d3b109" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-06-13T22:32:43" updateDate="2017-07-03T19:40:01" nodeName="Home" urlName="home" path="-1,1086" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="1085" nodeTypeAlias="home">
    <addressLine1><![CDATA[21 st Marrys Road]]></addressLine1>
    <postcode><![CDATA[BH14QP2]]></postcode>
    <textForPhoneNumber><![CDATA[Please call for inquire]]></textForPhoneNumber>
    <phoneNumber><![CDATA[01202424226]]></phoneNumber>
    <addressLine2><![CDATA[Bournemouth ]]></addressLine2>
    <openingTimes><![CDATA[Mon - Sat: 9:00 - 18:00]]></openingTimes>
    <closingTime><![CDATA[Sunday - CLOSED]]></closingTime>
    <aboutUs id="1090" key="d4ead072-7b92-4a88-aa93-f28cd7406dd1" parentID="1086" level="2" creatorID="0" sortOrder="0" createDate="2017-06-14T17:50:54" updateDate="2017-06-14T17:50:54" nodeName="About us" urlName="about-us" path="-1,1086,1090" isDoc="" nodeType="1089" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="aboutUs" />
    <contactUs id="1093" key="f2b1f729-3089-4bd5-981b-04b16799ed44" parentID="1086" level="2" creatorID="0" sortOrder="2" createDate="2017-06-15T21:22:40" updateDate="2017-06-25T23:00:49" nodeName="Contact us" urlName="contact-us" path="-1,1086,1093" isDoc="" nodeType="1092" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="contactUs" />
    <service id="1101" key="e557675c-61dc-4a64-a26f-cfee74efc929" parentID="1086" level="2" creatorID="0" sortOrder="3" createDate="2017-06-26T23:28:25" updateDate="2017-06-26T23:59:55" nodeName="Service" urlName="service" path="-1,1086,1101" isDoc="" nodeType="1098" creatorName="admin" writerName="admin" writerID="0" template="1096" nodeTypeAlias="service" />
  </home>
</root>