@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- ******************************************
    CAR DETAILS DESCRIPTION
********************************************** -->
@{
    var currentPageId = UmbracoContext.Current.PageId;
    var currentPage = Umbraco.TypedContent(currentPageId);

}
<div class="car-description clearfix">
    <h4>Vehicle desciption</h4>
    <p>@currentPage.GetPropertyValue("vehicleDescription")</p>
</div><!-- end desc -->
