<!-- ******************************************
        TEAM SECTION
********************************************** -->
<div class="section lb">
    <div class="container  aligncenter">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title clearfix text-center">
                    <h4>Our Team Members</h4>
                    <hr class="custom">
                </div><!-- end section-title -->
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-box clearfix">
                    <div class="post-media entry">
                        <img src="/uploads/team_01.jpg" alt="" class="img-responsive">
                        <div class="magnifier colorized">
                            <div class="social-hover">
                                <ul class="list-inline">
                                    <li><a data-toggle="tooltip" data-placement="top" title="+91 84569 14 527" href="#"><i class="fa fa-phone"></i></a></li>
                                    <li><a data-toggle="tooltip" data-placement="top" title="info@yoursite.com" href="#"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end media -->
                    <div class="team-desc text-center">
                        <h4>Pisti</h4>
                        <p>CEO & Founder</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-box clearfix">
                    <div class="post-media entry">
                        <img src="/uploads/team_02.jpg" alt="" class="img-responsive">
                        <div class="magnifier colorized">
                            <div class="social-hover">
                                <ul class="list-inline">
                                    <li><a data-toggle="tooltip" data-placement="top" title="+91 84569 14 527" href="#"><i class="fa fa-phone"></i></a></li>
                                    <li><a data-toggle="tooltip" data-placement="top" title="info@yoursite.com" href="#"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end media -->
                    <div class="team-desc text-center">
                        <h4>Szilard</h4>
                        <p>Team Leader</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end clearfix -->
            </div><!-- end col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-box clearfix">
                    <div class="post-media entry">
                        <img src="/uploads/team_03.jpg" alt="" class="img-responsive">
                        <div class="magnifier colorized">
                            <div class="social-hover">
                                <ul class="list-inline">
                                    <li><a data-toggle="tooltip" data-placement="top" title="+91 84569 14 527" href="#"><i class="fa fa-phone"></i></a></li>
                                    <li><a data-toggle="tooltip" data-placement="top" title="info@yoursite.com" href="#"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end media -->
                    <div class="team-desc text-center">
                        <h4>Pisti</h4>
                        <p>VP Sales & Marketing</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end clearfix -->
            </div><!-- end col -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
