@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- ******************************************
SERVICE CONTENT
********************************************** -->
@{
    var currentPageId = UmbracoContext.Current.PageId;
    var service = Umbraco.TypedContent(currentPageId);
}

<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="welcome-widget clearfix">
        <div class="section-title clearfix">
            <h4>@service.GetPropertyValue("servicesTitle")</h4>
            <hr class="custom">
        </div><!-- end section-title -->
        <p>@service.GetPropertyValue("mainContent")</p>
    </div><!-- end welcome-widget -->
</div><!-- end col -->
